//variables
$orange: #F5A623;
$yellow: #F8E71C;
$lightgreen: #B6E684;
$red: #c20d40;
@import 'spectre/spectre.scss';

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
$border-color: #E5E5E5;
$box-color: rgba(255, 255, 255, 0.4);

#drippo{
  max-width: 700px;
  margin: 0 auto;
  h2 {
    font-weight: bold;
    margin-top: 20px
  }
  .container{
    max-width: 700px;
    margin: 0;
    padding:0;
    //padding: 15px;
    //background: darken($box-color,2);
    //border: 1px solid darken($border-color,5);
    margin-top: 15px;
    .panel {
      background: $box-color;
      margin-bottom:25px;
      border-radius: 4px 4px 0 0;
      .panel-header {
        border-bottom:1px solid $border-color;
        font-weight: bold;
        background: #6d479f;
        color: #fff;
        border-radius: 4px 4px 0 0;
        .panel-title {
          font-size: 1.2em;
        }
      }
      .form-label {
        font-weight: bold;
        //font-size:0.9em;
      }
      .panel-footer {
        background: lighten($box-color,2);
        border-top:1px solid lighten($border-color,5);
        p {
          opacity: 0.8;
        }
        p:last-child{
          margin-bottom:0;
        }
      }
      .panel-body {
        padding-top:15px;
        padding-bottom:15px;
        .copy-indicator {
          opacity: 0;
          background-color:lighten($lightgreen,20);
          color:darken($lightgreen,30);
          padding:5px 10px;
          font-size:13px;
          font-weight:bold;
        }
        &.copied .copy-indicator {
          opacity: 1;
        }
      }
    }
  }
  .copybox {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */
    margin: 0 auto;
    padding: 0px 10px;
    font-size: 13px;
    position: relative;
    background:#eae0f8;
    color: #6d479f;
  }
  .panel-body.copied .copybox {
    background-color:lighten($lightgreen,10);
    color:darken($lightgreen,25);
  }
  
}